<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <style>
      .avatar {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      .container{
        display: flex;
        height: 90vh;
        justify-content: center;
        flex-direction: column;
        padding: 10vh !important;
      }

      .row{
        min-height: 150px;
      }
    </style>
</head>

Formulario
</h2>
  <form method="POST" action="/crear">
    <div class="form-group">
      <label for="exampleInputEmail1">Código</label>
      <input type="text" class="form-control" name="codigo"  placeholder="Ingrese código">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Tipo</label>
      <input type="text" class="form-control" name="tipo"  placeholder="Ingrese tipo de producto">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="text" class="form-control" name="nombre"  placeholder="Ingrese nombre del producto">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Pasillo</label>
      <input type="text" class="form-control" name="pasillo"  placeholder="Ingrese número del pasillo">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Foto</label>
      <input type="file" class="form-control" name="thumbnail"  placeholder="Imagen del producto">
    </div>
    <button type="submit" class="btn btn-primary" href= "/" >Submit</button>
  </form>
</div>
</body>
</html>


<!-- <body style="padding: 4vh;">
  <div class="shadow-lg container">
    <h2>
      Inventario La Torre
    </h2>
      <table class="table table-dark" >
        <thead>
          <tr>
            {% for k,v in headers.items(): %}
                <th scope="col">{{v}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for row in my_data: %}
            <tr>
              <th scope="col">{{row.codigo}}</th>
              <th scope="col">{{row.tipo}}</th>
              <th scope="col">{{row.nombre}}</th>
              <th scope="col">{{row.pasillo}}</th>
              <th scope="col"><img src="{{row.thumbnail.url}}" width="{{row.thumbnail.width}}" height="{{row.thumbnail.height}}"></th>
            </tr>
            {% endfor%}
        </tbody>
      </table>
      <a class="btn btn-primary" href="/crear" role="button">Crear</a>
    </div> 
</body>
</html> -->